<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="M_ActivitiesUser" >
 
<resultMap id="T_ActivitiesUser" type="ActivitiesUser" >
    <id column="ID" property="id"  />
    <id column="ACTIVITIESID" property="activitiesId"  />
    <id column="TECHNOLOGICALPROCESSID" property="technologicalProcessId" />
    <result column="CREATEDATE" property="createDate" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="T_Activities" type="ActivitiesUser" extends="T_ActivitiesUser">
  	<result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, 
    ACTIVITIESID, 
    TECHNOLOGICALPROCESSID, 
    CREATEDATE
  </sql>
  
    <sql id="where">
		<where>
	  <if test="id != null" >
        and ID = #{id}
      </if>
	  <if test="activitiesId != null" >
        AND activitiesId = #{activitiesId}
      </if>
      <if test="technologicalProcessId != null" >
        AND technologicalProcessId = #{technologicalProcessId}
      </if>
		</where>
	</sql>
	
	<delete id="delete" parameterType="ActivitiesUser">
		delete from
		t_ActivitiesUser
		<include refid="where" />
	</delete>
	
  <select id="select" resultMap="T_ActivitiesUser" parameterType="ActivitiesUser" >
    select 
    <include refid="Base_Column_List" />
    from t_ActivitiesUser
    where ID = #{id}
  </select>
  
  <select id="list" resultMap="T_Activities" parameterType="ActivitiesUser"> 
		select
			t.ID, 
    activitiesId, 
    technologicalProcessId, 
    name,
    CREATEDATE
		from t_ActivitiesUser t left join t_entry_process e on t.technologicalprocessid=e.id
		<include refid="where" />
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
		
	<select id="count" resultType="Integer" parameterType="ActivitiesUser">
		select
			count(id)
		from t_ActivitiesUser
		<include refid="where" />
	</select>
	
  <insert id="insert" parameterType="ActivitiesUser" >
  	<selectKey keyProperty="id" resultType="Integer" order="BEFORE">
			select SEQUENCE_t_ActivitiesUser.nextval from dual
	</selectKey>
		
    insert into t_ActivitiesUser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="activitiesId != null" >
        activitiesId,
      </if>
      <if test="technologicalProcessId != null" >
        technologicalProcessId,
      </if>
      <if test="createDate != null" >
        CREATEDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="activitiesId != null" >
        #{activitiesId},
      </if>
      <if test="technologicalProcessId != null" >
        #{technologicalProcessId},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
	
</mapper>