<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="M_activities" >

  <resultMap id="T_Activities" type="Activities" >
    <id column="ID" property="id"  />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="SCHEDULEDATE" property="scheduleDate" jdbcType="VARCHAR" />
    <result column="SETTIME" property="setTime" jdbcType="VARCHAR" />
    <result column="SETPLACE" property="setPlace" jdbcType="VARCHAR" />
    <result column="SCHEDULETIME" property="scheduleTime" jdbcType="VARCHAR" />
    <result column="USERID" property="userId"  />
    <result column="USERNAME" property="userName" jdbcType="VARCHAR" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="VARCHAR" />
    <result column="CREATEDATE" property="createDate" jdbcType="DATE" />
    <result column="UPDATEDATE" property="updateDate" jdbcType="DATE" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, 
    NAME, 
    DESCRIPTION, 
    SCHEDULEDATE, 
    SETTIME, 
    SETPLACE, 
    SCHEDULETIME, 
    USERID, 
    USERNAME，
    TELEPHONE, 
    CREATEDATE, 
    UPDATEDATE,
    enabled
  </sql>
  
  <sql id="where">
		<where>
	  <if test="id != null" >
        and ID = #{id}
      </if>
	  <if test="name != null" >
        AND NAME = #{name,jdbcType=VARCHAR}
      </if>
      <if test="description != null" >
        AND DESCRIPTION = #{description,jdbcType=VARCHAR}
      </if>
      <if test="scheduleDate != null" >
        AND SCHEDULEDATE = #{scheduleDate,jdbcType=VARCHAR}
      </if>
      <if test="setTime != null" >
        AND SETTIME = #{setTime,jdbcType=VARCHAR}
      </if>
      <if test="setPlace != null" >
        AND SETPLACE = #{setPlace,jdbcType=VARCHAR}
      </if>
      <if test="scheduleTime != null" >
        AND SCHEDULETIME = #{scheduleTime,jdbcType=VARCHAR}
      </if>
      <if test="userId != null" >
        AND USERID = #{userId}
      </if>
      <if test="enabled != null" >
        AND enabled = #{enabled}
      </if>
		</where>
	</sql>
  
  <select id="select" resultMap="T_Activities" parameterType="Activities" >
    select 
    <include refid="Base_Column_List" />
    from T_ACTIVITIES
    <include refid="where" />
  </select>
  
  <select id="list" resultMap="T_Activities" parameterType="Activities">
		select
		<include refid="Base_Column_List" />
		from T_ACTIVITIES
		<include refid="where" />
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	
	<select id="count" resultType="Integer" parameterType="Activities">
		select
			count(id)
		from T_ACTIVITIES
		<include refid="where" />
	</select>
  
  <delete id="delete" parameterType="Activities" >
    delete from T_ACTIVITIES
    where ID = #{id}
  </delete>
  
  <insert id="insert" parameterType="Activities" >
  	<selectKey keyProperty="id" resultType="Integer" order="BEFORE">
			select SEQUENCE_t_Activities.nextval from dual
		</selectKey>
    insert into T_ACTIVITIES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="scheduleDate != null" >
        SCHEDULEDATE,
      </if>
      <if test="setTime != null" >
        SETTIME,
      </if>
      <if test="setPlace != null" >
        SETPLACE,
      </if>
      <if test="scheduleTime != null" >
        SCHEDULETIME,
      </if>
      <if test="userId != null" >
        USERID,
      </if>
      <if test="userName != null" >
        USERNAME,
      </if>
      <if test="telephone != null" >
        TELEPHONE,
      </if>
      <if test="createDate != null" >
        CREATEDATE,
      </if>
      <if test="updateDate != null" >
        UPDATEDATE,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="scheduleDate != null" >
        #{scheduleDate,jdbcType=VARCHAR},
      </if>
      <if test="setTime != null" >
        #{setTime,jdbcType=VARCHAR},
      </if>
      <if test="setPlace != null" >
        #{setPlace,jdbcType=VARCHAR},
      </if>
      <if test="scheduleTime != null" >
        #{scheduleTime,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userid},
      </if>
      <if test="userName != null" >
        #{userName},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="Activities" >
    update T_ACTIVITIES
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="scheduleDate != null" >
        SCHEDULEDATE = #{scheduleDate,jdbcType=VARCHAR},
      </if>
      <if test="setTime != null" >
        SETTIME = #{setTime,jdbcType=VARCHAR},
      </if>
      <if test="setPlace != null" >
        SETPLACE = #{setPlace,jdbcType=VARCHAR},
      </if>
      <if test="scheduleTime != null" >
        SCHEDULETIME = #{scheduleTime,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USERID = #{userId},
      </if>
      <if test="userName != null" >
        USERNAME = #{userName},
      </if>
      <if test="telephone != null" >
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATEDATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATEDATE = #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id}
  </update>

</mapper>