<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="M_Flight">
	<resultMap id="T_Flight" type="Flight">
		<id column="ID" property="id" />
		<result column="TECHNOLOGICALPROCESSID" property="technologicalprocessid" />
		<result column="FLIGHTNUMBER" property="flightnumber" jdbcType="VARCHAR" />
		<result column="STARTDATE" property="startdate" jdbcType="DATE" />
		<result column="ENDDATE" property="enddate" jdbcType="DATE" />
		<result column="PLACE" property="place" jdbcType="VARCHAR" />
		<result column="AIRPORTPEOPLEID" property="airportpeopleid" />
	</resultMap>

	<sql id="Base_Column_List">
		id, 
		technologicalprocessid, 
		flightnumber, 
		startdate,
		enddate, 
		place,
		airportpeopleid
	</sql>

	<sql id="where">
		<where>
			<if test="technologicalprocessid != null">
				and TECHNOLOGICALPROCESSID = #{technologicalprocessid},
			</if>
			<if test="flightnumber != null">
				and FLIGHTNUMBER = #{flightnumber,jdbcType=VARCHAR},
			</if>
			<if test="startdate != null">
				and STARTDATE = #{startdate,jdbcType=DATE},
			</if>
			<if test="enddate != null">
				and ENDDATE = #{enddate,jdbcType=DATE},
			</if>
			<if test="place != null">
				and PLACE = #{place,jdbcType=VARCHAR},
			</if>
			<if test="airportpeopleid != null">
				and AIRPORTPEOPLEID = #{airportpeopleid},
			</if>
		</where>
	</sql>

	<select id="select" resultMap="T_Flight" parameterType="Flight">
		select
		<include refid="Base_Column_List" />
		from T_FLIGHT
		where TECHNOLOGICALPROCESSID = #{technologicalprocessid}
	</select>

	<select id="list" resultMap="T_Flight" parameterType="Flight">
		select
		<include refid="Base_Column_List" />
		from T_FLIGHT
		<include refid="where" />
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>

	<delete id="delete" parameterType="Flight">
		delete from T_FLIGHT
		where ID =
		#{id}
	</delete>

	<insert id="insert" parameterType="Flight">
		<selectKey keyProperty="id" resultType="Integer" order="BEFORE">
			select SEQUENCE_t_Flight.nextval from dual
		</selectKey>
		insert into T_FLIGHT
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="technologicalprocessid != null">
				TECHNOLOGICALPROCESSID,
			</if>
			<if test="flightnumber != null">
				FLIGHTNUMBER,
			</if>
			<if test="startdate != null">
				STARTDATE,
			</if>
			<if test="enddate != null">
				ENDDATE,
			</if>
			<if test="place != null">
				PLACE,
			</if>
			<if test="airportpeopleid != null">
				AIRPORTPEOPLEID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="technologicalprocessid != null">
				#{technologicalprocessid},
			</if>
			<if test="flightnumber != null">
				#{flightnumber,jdbcType=VARCHAR},
			</if>
			<if test="startdate != null">
				#{startdate,jdbcType=DATE},
			</if>
			<if test="enddate != null">
				#{enddate,jdbcType=DATE},
			</if>
			<if test="place != null">
				#{place,jdbcType=VARCHAR},
			</if>
			<if test="airportpeopleid != null">
				#{airportpeopleid},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="Flight">
		update T_FLIGHT
		<set>
			<if test="technologicalprocessid != null">
				TECHNOLOGICALPROCESSID = #{technologicalprocessid},
			</if>
			<if test="flightnumber != null">
				FLIGHTNUMBER = #{flightnumber,jdbcType=VARCHAR},
			</if>
			<if test="startdate != null">
				STARTDATE = #{startdate,jdbcType=DATE},
			</if>
			<if test="enddate != null">
				ENDDATE = #{enddate,jdbcType=DATE},
			</if>
			<if test="place != null">
				PLACE = #{place,jdbcType=VARCHAR},
			</if>
			<if test="airportpeopleid != null">
				AIRPORTPEOPLEID = #{airportpeopleid},
			</if>
		</set>
		where ID = #{id}
	</update>
</mapper>