<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="M_HOTEL">

	<resultMap id="t_Hotel" type="Hotel">
		<id column="ID" property="id" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="ADDRESS" property="address" jdbcType="VARCHAR" />
		<result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
		<result column="ROOMNUMBER" property="roomNumber" jdbcType="VARCHAR" />
		<result column="ROOMTYPE" property="roomType" jdbcType="VARCHAR" />
		<result column="SCHEDULEDATE" property="scheduleDate" jdbcType="DATE" />
		<result column="SCHEDULEDAY" property="scheduleDay" jdbcType="VARCHAR" />
		<result column="CHECKINDATE" property="checkinDate" jdbcType="DATE" />
		<result column="CHECKINDAY" property="checkinDay" jdbcType="VARCHAR" />
		<result column="PRICE" property="price" jdbcType="VARCHAR" />
		<result column="TECHNOLOGICALPROCESSID" property="technologicalProcessId" />
	</resultMap>

	<sql id="Base_Column_List">
		ID,
		NAME,
		ADDRESS,
		TELEPHONE,
		ROOMNUMBER,
		ROOMTYPE,
		SCHEDULEDATE,
		SCHEDULEDAY,
		CHECKINDATE,
		CHECKINDAY,
		PRICE,
		CREATEDATE,
		UPDATEDATE,
		TECHNOLOGICALPROCESSID
	</sql>

	<sql id="where">
		<where>
			<if test="id != null">
				and ID = #{id,jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				and ANME = #{name,jdbcType=VARCHAR}
			</if>
			<if test="technologicalProcessId != null">
				AND TechnologicalProcessID = #{technologicalProcessId}
			</if>
		</where>
	</sql>

	<select id="select" resultMap="t_Hotel" parameterType="Hotel">
		select
		<include refid="Base_Column_List" />
		from T_HOTEL
		<include refid="where" />
	</select>

	<select id="list" resultMap="t_Hotel" parameterType="Hotel">
		select
		<include refid="Base_Column_List" />
		from T_HOTEL
		<include refid="where" />
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>

	<select id="count" resultType="Integer" parameterType="Hotel">
		select
		count(id)
		from T_HOTEL
		<include refid="where" />
	</select>

	<delete id="delete" parameterType="Hotel">
		delete from T_HOTEL
		where ID = #{id}
	</delete>

	<insert id="insert" parameterType="Hotel">
	<selectKey keyProperty="id" resultType="Integer" order="BEFORE">
			select SEQUENCE_t_Hotel.nextval from dual
		</selectKey>
		insert into T_HOTEL
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="address != null">
				ADDRESS,
			</if>
			<if test="telephone != null">
				TELEPHONE,
			</if>
			<if test="roomNumber != null">
				ROOMNUMBER,
			</if>
			<if test="roomType != null">
				ROOMTYPE,
			</if>
			<if test="scheduleDate != null">
				SCHEDULEDATE,
			</if>
			<if test="scheduleDay != null">
				SCHEDULEDAY,
			</if>
			<if test="checkinDate != null">
				CHECKINDATE,
			</if>
			<if test="checkinDay != null">
				CHECKINDAY,
			</if>
			<if test="price != null">
				PRICE,
			</if>
			<if test="createDate != null">
				CREATEDATE,
			</if>
			<if test="updateDate != null">
				UPDATEDATE,
			</if>
			<if test="technologicalProcessId != null">
				TECHNOLOGICALPROCESSID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				#{telephone,jdbcType=VARCHAR},
			</if>
			<if test="roomNumber != null">
				#{roomNumber,jdbcType=VARCHAR},
			</if>
			<if test="roomType != null">
				#{roomType,jdbcType=VARCHAR},
			</if>
			<if test="scheduleDate != null">
				#{scheduleDate,jdbcType=DATE},
			</if>
			<if test="scheduleDay != null">
				#{scheduleDay,jdbcType=VARCHAR},
			</if>
			<if test="checkinDate != null">
				#{checkinDate,jdbcType=DATE},
			</if>
			<if test="checkinDay != null">
				#{checkinDay,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				#{price,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=VARCHAR},
			</if>
			<if test="technologicalProcessId != null">
				#{technologicalProcessId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="Hotel">
		update T_HOTEL
		<set>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				ADDRESS = #{address,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				TELEPHONE = #{telephone,jdbcType=VARCHAR},
			</if>
			<if test="roomNumber != null">
				ROOMNUMBER = #{roomNumber,jdbcType=VARCHAR},
			</if>
			<if test="roomType != null">
				ROOMTYPE = #{roomType,jdbcType=VARCHAR},
			</if>
			<if test="scheduleDate != null">
				SCHEDULEDATE = #{scheduleDate,jdbcType=DATE},
			</if>
			<if test="scheduleDay != null">
				SCHEDULEDAY = #{scheduleDay,jdbcType=VARCHAR},
			</if>
			<if test="checkinDate != null">
				CHECKINDATE = #{checkinDate,jdbcType=DATE},
			</if>
			<if test="checkinDay != null">
				CHECKINDAY = #{checkinDay,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				PRICE = #{price,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				CREATEDATE = #{createDate,jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				UPDATEDATE = #{updateDate,jdbcType=VARCHAR},
			</if>
			<if test="technologicalProcessId != null">
				TECHNOLOGICALPROCESSID = #{technologicalProcessId},
			</if>
		</set>
		where ID = #{id}
	</update>

</mapper>