<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="M_TRAINCOURSE" >
 
<resultMap id="T_TrainCourse" type="TrainCourse" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="TRAINTYPE" property="trainType" jdbcType="VARCHAR" />
    <result column="SCHEDULEDATE" property="scheduleDate" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="COURSEDATE" property="courseDate" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="USERID" property="userId" jdbcType="DECIMAL" />
    <result column="CREATEDATE" property="createDate" jdbcType="VARCHAR" />
    <result column="UPDATEDATE" property="updateDate" jdbcType="VARCHAR" />
    <result column="ENABLED" property="enabled" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, 
    TRAINTYPE, 
    SCHEDULEDATE, 
    ADDRESS, 
    COURSEDATE, 
    DESCRIPTION, 
    NAME, 
    USERID, 
    CREATEDATE, 
    UPDATEDATE,
    enabled
  </sql>
  
    <sql id="where">
		<where>
	  <if test="id != null" >
        and ID = #{id,jdbcType=VARCHAR}
      </if>
	  <if test="trainType != null" >
        AND TRAINTYPE = #{trainType,jdbcType=VARCHAR}
      </if>
      <if test="scheduleDate != null" >
        AND SCHEDULEDATE = #{scheduleDate,jdbcType=VARCHAR}
      </if>
      <if test="address != null" >
        AND ADDRESS = #{address,jdbcType=VARCHAR}
      </if>
      <if test="courseDate != null" >
        AND COURSEDATE = #{courseDate,jdbcType=VARCHAR}
      </if>
      <if test="description != null" >
        AND DESCRIPTION = #{description,jdbcType=VARCHAR}
      </if>
      <if test="name != null" >
        AND NAME = #{name,jdbcType=VARCHAR}
      </if>
      <if test="userId != null" >
        AND USERID = #{userId}
      </if>
      <if test="enabled != null" >
        AND enabled = #{enabled}
      </if>
		</where>
	</sql>
	
  <select id="select" resultMap="T_TrainCourse" parameterType="TrainCourse" >
    select 
    <include refid="Base_Column_List" />
    from T_TRAINCOURSE
    where ID = #{id}
  </select>
  
  <select id="list" resultMap="T_TrainCourse" parameterType="TrainCourse"> 
		select
		<include refid="Base_Column_List" />
		from T_TRAINCOURSE
		<include refid="where" />
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
		
	<select id="count" resultType="Integer" parameterType="TrainCourse">
		select
			count(id)
		from T_TRAINCOURSE
		<include refid="where" />
	</select>
	
  <insert id="insert" parameterType="TrainCourse" >
  	<selectKey keyProperty="id" resultType="Integer" order="BEFORE">
			select SEQUENCE_t_TrainCourse.nextval from dual
	</selectKey>
		
    insert into T_TRAINCOURSE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="trainType != null" >
        TRAINTYPE,
      </if>
      <if test="scheduleDate != null" >
        SCHEDULEDATE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="courseDate != null" >
        COURSEDATE,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="userId != null" >
        USERID,
      </if>
      <if test="createDate != null" >
        CREATEDATE,
      </if>
      <if test="updateDate != null" >
        UPDATEDATE,
      </if>
      <if test="enabled != null" >
        ENABLED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="trainType != null" >
        #{trainType,jdbcType=VARCHAR},
      </if>
      <if test="scheduleDate != null" >
        #{scheduleDate,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="courseDate != null" >
        #{courseDate,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="TrainCourse" >
    update T_TRAINCOURSE
    <set >
      <if test="trainType != null" >
        TRAINTYPE = #{trainType,jdbcType=VARCHAR},
      </if>
      <if test="scheduleDate != null" >
        SCHEDULEDATE = #{scheduleDate,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="courseDate != null" >
        COURSEDATE = #{courseDate,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USERID = #{userId},
      </if>
      <if test="createDate != null" >
        CREATEDATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATEDATE = #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
         ENABLED = #{enabled,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id}
  </update>
  
</mapper>